@import '../Variables.scss';

.header-wrapper {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: .5em 1.5em;

  .header-item--desktop {
    display: none;
  }

  .header-item {
    & a {
      transition: var(--transition);

      &:hover, &:active, &:focus {
        color: var(--clr-pink);
        cursor: pointer;
      }
    }

    &:not(:last-child) {
      margin-right: 2em;
    }

    &:first-child, &:nth-child(2) {
      margin: 0;
    }
  }

  .header-item-logo {
    font-weight: 600;
    flex: 0 100%;
    color: var(--clr-pink);
    cursor: pointer;
  }

  @media screen and (min-width: $break-tablet) {
    padding: 1.5em;

    .header-item--hamburger {
      display: none;
    }

    .header-item--desktop {
      display: inline;
    }
  }
}