@import '../Variables.scss';

.navbar-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100;

  background-color: var(--clr-lightpink);

  font-size: 1.6em;
  font-weight: 600;
  color: var(--clr-dark);
  text-align: center;

  transform: translateY(-100vh);
  transition: transform .3s ease-in-out;

  &.navbar-mobile--active {
    transform: translateY(0px);
  }

  .navbar-mobile__list {
    list-style: none;

    .navbar-mobile__item {
      cursor: pointer;
      padding-bottom: 1em;

      &:last-of-type {
        padding-bottom: 0;
      }

      .navbar-mobile__link {
        color: var(--clr-light);
        text-decoration: none;
        display: inline-block;

        &::after {
          content: '';
          display: block;
          width: 0;
          height: 3px;
          background: var(--clr-pink);
          transition: width .3s;
        }

        &:hover::after {
          width: 100%;
          transition: width .3s;
        }
      }
    }
  }
}
