@import '../Variables';

.socialmedia-item {
  display: flex;
  flex-direction: row;
  margin: 1em 0;
  align-items: center;

  &_icon {
    width: 36px;
    height: auto;
  }

  &_name {
    margin-left: .75em;
  }
}
