@import '../Variables';

.technology-item {
  display: flex;
  flex-direction: column;
  margin: 1.5em 0 2em 0;
  align-items: center;
  justify-content: center;
  text-align: center;

  flex-grow: 1;
  flex-basis: 33.33%;

  &:nth-child(2) {
    margin-top: 2.75em;
  }

  .technology-name {
    opacity: .5;
    margin-top: .5em;
  }
}