@import '../Variables';

.about {
  padding: 5em 1.5em;

  .about-wrapper {
    margin: 3em 0;
    display: flex;
    flex-direction: column;

    .about-h4 {
      font-weight: 500;
      margin-top: 2em;
    }

    .about-paragraph {
      margin: 1em 0 2.5em 0;
      line-height: 1.25em;
    }

    .about-col-right {
      margin-top: 2em;

      .about-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
}
