@import '../Variables';

.footer {
  display: flex;
  flex-direction: column;
  padding: 5em 1.5em;

  background-color: var(--bkg-lightgray);

  .footer-left {

    &_form {
      margin-top: 3em;

      &-input {
        display: block;

        margin-bottom: 1em;
        padding: .5em;

        border: 2px solid var(--clr-lightgrey);
        border-radius: 5px;
        background-color: var(--bkg-lightgray);
        width: 100%;

        outline: none;

        &_textarea {
          min-height: 100px;
        }
      }

      &-label {
        display: inline-block;
        margin-bottom: .25em;

        font-weight: 500;
        font-size: 14px;
        color: var(--clr-darkgrey);
      }
    }
  }

  .footer-right {

    &_title {
      margin-bottom: 1em;
      font-size: 18px;
      font-weight: 600;
    }

    &_desc {
      margin-bottom: 4em;
      font-size: 16px;
    }

    &_socialmedia {
      display: flex;
      flex-direction: column;
    }
  }

  .footer-divider {
    margin: 1em 0 2em 0;
    text-align: center;

    &::before, &::after {
      content: '';
      background-color: var(--clr-lightgrey);
      display: inline-block;
      height: 1.5px;
      position: relative;
      vertical-align: middle;
      width: 45%;
    }

    &::before {
      right: 0.5em;
      margin-left: -30%;
    }

    &::after {
      left: 0.5em;
      margin-right: -30%;
    }
  }
}

.footer-copyright {
  display: flex;
  justify-content: center;
  padding: 1em;

  background-color: var(--clr-light);
  text-align: center;

  .footer-copyright_text {
    width: 250px;

    font-size: 14px;
    color: var(--clr-copyright-text);
  }
}
